<%- include('../include/head.ejs')%>
<body>
    <%- include('../include/header.ejs')%>
    <div class="row_item">

            <table>
                <tr>
                    <th>ID</th>
                    <th>Reference</th>
                    <th>Amount</th>
                    <th>Reference thierd party</th>
                    <th>Amount</th>
                </tr>

                <% prods.forEach((item,i)=>{ %>
                <tr>
                    <td><%= i++ %></td>
                    <td><%= item.ref %></td>
                    <td><%= item.amount %></td>
                    <td><%= item.ref3 %></td>
                    <td><%= item.amount3 %></td>
                    <td>
                        <div class="detail_btn">
                            <a href="/detail/<%= item.id %>" class="detail">Details</a>
                        </div>
                    </td>
                </tr>
                <% }); %>
            </table>
 


    </div>
</body>
</html>